// Esquemas de color

//Esquema negros
$eerie: #121619;
$raisin: #222323;
$nickel: #6c6e70;

//Esquema corales

$fuzzy: #e56353;
$ruddy: #d76c69;
$spanish: #ecbcba;

//Esquema grises

$platinum: #e6e7e7;
$light-grey: #d1d1d1;
$white: #fff;

// Tipografía
$roboto:'Roboto', sans-serif;
$playfair:'Playfair Display', serif;


// Pesos de fuentes
$extra-light: 300;
$regular: 400;
$bold-italic: 900;

// Tamaños de fuentes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;
